<template name="student_info">

    <div class="image-profile">
        <img src="https://scontent.fpnh3-1.fna.fbcdn.net/v/t1.0-9/29542672_1743351212387696_7164923545156080651_n.jpg?_nc_cat=0&_nc_eui2=AeGhJeJ6WqFq6bFQW6Wd9VYDm4fSLAA5YPRPBCbSVG74KiiGPESIMkBD8TpsmOb3WTRa4552o0PVvx8rD37OxcyQYRaayaUM4txtUuQTI8PHgg&oh=0d3521a022a02dd788704a268a49df09&oe=5BEC33CF" alt="">
    </div><br>

    <div class="table-container">
        <table class="student-info-table">
            <tr>
                <th>ID</th>
                <td>15020108</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>Sengkhun Lim</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>Male</td>
            </tr>
            <tr>
                <th>Date Of Birth</th>
                <td>08 Dec 1995</td>
            </tr>
            <tr>
                <th>Graduation Year</th>
                <td>2019</td>
            </tr>
        </table>
    </div>

</template>
