<template name="student_info">

    <div class="image-profile">
        <img id="image" src="http://localhost:3000/img/default-image-profile.png" alt="">
    </div><br>

    <div class="table-container">
        <table class="student-info-table">
            <tr>
                <td>ID</td>
                <th id="id"></th>
            </tr>
            <tr>
                <td>Name</td>
                <th id="name"></th>
            </tr>
            <tr>
                <td>Gender</td>
                <th id="gender"></th>
            </tr>
            <tr>
                <td>Date Of Birth</td>
                <th id="dateOfBirth"></th>
            </tr>
            <tr>
                <td>Graduation Year</td>
                <th id="graduatedYear"></th>
            </tr>
        </table>
    </div>

</template>
